.growl4rails_cell {
  position: absolute;
  width: 379px;
  cursor:hand;
  cursor:pointer;
  z-index: 99;
}
.growl4rails_corner_ul {
  width: 39px;
  height: 41px;
  background-image: url(/images/growl4rails/corner_ul.png);
}
.growl4rails_corner_ul_hi {
  background-image: url(/images/growl4rails/corner_ul_hi.png);
}
.growl4rails_corner_ur {
  width: 39px;
  height: 41px;
  background-image: url(/images/growl4rails/corner_ur.png);
}
.growl4rails_corner_ur_hi {
  background-image: url(/images/growl4rails/corner_ur_hi.png);
}
.growl4rails_corner_ll {
  width: 39px;
  height: 41px;
  background-image: url(/images/growl4rails/corner_ll.png);
}
.growl4rails_corner_ll_hi {
  background-image: url(/images/growl4rails/corner_ll_hi.png);
}
.growl4rails_corner_lr {
  width: 39px;
  height: 41px;
  background-image: url(/images/growl4rails/corner_lr.png);
}
.growl4rails_corner_lr_hi {
  background-image: url(/images/growl4rails/corner_lr_hi.png);
}
.growl4rails_top {
  width: 301px;
  height: 41px;
  background-image: url(/images/growl4rails/top.png);
  background-repeat: repeat-x;
}
.growl4rails_top_hi {
  background-image: url(/images/growl4rails/top_hi.png);
}
.growl4rails_body {
  width: 379px;
  background-image: url(/images/growl4rails/body.png);
  background-repeat: repeat-y;
}
.growl4rails_body_hi {
  background-image: url(/images/growl4rails/body_hi.png);
}
.growl4rails_bottom {
  width: 301px;
  height: 41px;
  background-image: url(/images/growl4rails/bottom.png);
  background-repeat: repeat-x;
}
.growl4rails_bottom_hi {
  background-image: url(/images/growl4rails/bottom_hi.png);
}
.growl4rails_info {
  position: absolute;
  width: 320px;
  overflow: hidden;
  cursor:hand;
  cursor:pointer;
  z-index: 99;
}
.growl4rails_image {
  background-position: center center;
  padding: 2px 2px 0px 2px;
  width:32px;
  height:32px;
  float:left;
  cursor:hand;
  cursor:pointer;
}
.growl4rails_title {
  color: #FFF;
  font-size: 11pt;
  font-family: arial;
  font-weight: bold;
  cursor:hand;
  cursor:pointer;
}
.growl4rails_message {
  color: #FFF;
  font-size: 10pt;
  font-family: arial;
  cursor:hand;
  cursor:pointer;
}