#growl_container {
  position: absolute; 
  top: 10px;
  width: 379px;
  z-index: 1001;
  cursor:pointer;
  cursor:hand;
}
#growl_tl {
  position: absolute; 
  top: 10px;
  width: 39px;
  height: 41px;
  z-index: 1000;
}
#growl_top {
  position: absolute; 
  top: 10px;
  width: 301px;
  height: 26px;
  z-index: 1000;
  background-image: url(/images/growl4rails/top.png);
  background-repeat: repeat-x;
}
#growl_tr {
  position: absolute; 
  top: 10px;
  width: 39px;
  height: 41px;
  z-index: 1000;
}
#growl_left {
  position: absolute; 
  top: 51px;
  width: 39px;
  z-index: 1000;
  background-image: url(/images/growl4rails/left.png);
  background-repeat: repeat-y;
}
#growl_body {
  position: absolute;
  top: 36px;
  width: 301px;
  z-index: 1000;
  background-image: url(/images/growl4rails/body.png);
  background-repeat: repeat-y;
  color: #FFF;
  font-family: arial;
}
#growl_right {
  position: absolute; 
  top: 51px;
  width: 39px;
  z-index: 1000;
  background-image: url(/images/growl4rails/right.png);
  background-repeat: repeat-y;
}
#growl_body .growl_title {
  font-size: 11pt;
  font-weight: bold;
}
#growl_bl {
  position: absolute; 
  width: 39px;
  height: 41px;
  z-index: 1000;
}
#growl_bottom {
  position: absolute; 
  width: 301px;
  height: 32px;
  z-index: 1000;
  background-image: url(/images/growl4rails/bottom.png);
  background-repeat: repeat-x;
}
#growl_br {
  position: absolute;
  width: 39px;
  height: 41px;
  z-index: 1000;
}
#growl_ico {
  width: 32px;
  height: 32px;
  z-index: 1000;
  padding-right: 5px;
}
