.growl4rails_corner_ul {
  background-image: url(/images/growl4rails/corner_ul.gif);
}
.growl4rails_corner_ul_hi {
  background-image: url(/images/growl4rails/corner_ul_hi.gif);
}
.growl4rails_corner_ur {
  background-image: url(/images/growl4rails/corner_ur.gif);
}
.growl4rails_corner_ur_hi {
  background-image: url(/images/growl4rails/corner_ur_hi.gif);
}
.growl4rails_corner_ll {
  background-image: url(/images/growl4rails/corner_ll.gif);
}
.growl4rails_corner_ll_hi {
  background-image: url(/images/growl4rails/corner_ll_hi.gif);
}
.growl4rails_corner_lr {
  background-image: url(/images/growl4rails/corner_lr.gif);
}
.growl4rails_corner_lr_hi {
  background-image: url(/images/growl4rails/corner_lr_hi.gif);
}
.growl4rails_top {
  background-image: url(/images/growl4rails/top.gif);
}
.growl4rails_top_hi {
  background-image: url(/images/growl4rails/top_hi.gif);
}
.growl4rails_body {
  background-image: url(/images/growl4rails/body.gif);
}
.growl4rails_body_hi {
  background-image: url(/images/growl4rails/body_hi.gif);
}
.growl4rails_bottom {
  background-image: url(/images/growl4rails/bottom.gif);
}
.growl4rails_bottom_hi {
  background-image: url(/images/growl4rails/bottom_hi.gif);
}